<%= render "shared/header"%>
<section class="hero-banner p-0">
<%= image_tag "img/banner.jpg", class: "obj_fit_cover banner_img" %>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="banner_content">
					<h1>Nurse Works</h1>
						<p>A Digital Platform for Nursing <span>Learn. Earn. Grow</span></p>
						<div class="get-started_btns d-flex gap-2 justify-content-start">
								<a href="./sign-up.html">Sign Up</a>
								<a href="./company-profile.html">Find Nurses</a>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="what_we_do">
	<div class="container">
		<div class="row sec_heading">
			<div class="col-lg-12 text-center">
				<h3 class="heading-h3">What we do </h3>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-lg-6 text-center mb-4 mb-lg-0">
				<div>
					<%= image_tag "img/s1.svg" %>
					<h4>For RNs</h4>
					<p>
						To access open international nursing roles in high-quality markets such as the US, UK,
						Canada, and Australia, the top 1% of RNs should have a strong educational background,
						experience, and skills in the nursing profession. They should also consider obtaining
						certifications and licenses that are recognized in these countries.
					</p>
				</div>
			</div>
			<div class="col-lg-6 text-center mb-4 mb-lg-0">
				<div>
					<%= image_tag "img/s2.svg" %>
					<h4>For Hospitals</h4>
					<p>
						Provide a single, digital platform to source, interview, hire and manage the visa process
						for the top 1% highest quality nurses available in key international marlklets of India,
						Phillipines, Nigeria, and others. Become an integral extension of your internal HR team to
						source international candidates with less operating hassles, and reduce inefficiency
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="why_we_do">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 mb-4 mb-lg-0">
				<div class="why_we_do_wrap">
					<h3 class="heading-h3">We work with hospitals worldwide</h3>
					<p class="mt-5">
							We are building a scalable digital platform
							"with nurses, by nurses, and for nurses" with a
							commitment to Nursing quality and dignity of
							the Nursing profession.
					</p>
					<div class="row">
						<div class="col-lg-6 ">
							<div>
								<span class="count">.01</span>
								<p>
									We believe that doing this will help each nurse
									undertake her individual journey to learn, earn,
									grow at her own pace balancing career vs.
									personal commitments
								</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div>
								<span class="count">.02</span>
								<p>
									We are focused on hospital based nursing with
									a strong commitment to clinical quality. We
									empanel only quality hospitals to use our
									platform.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<diV class="col-lg-6">
				<div class="side_by_img_size">
					<%= image_tag "img/banner-1.jpg", class: "obj_fit_cover radius-30" %>
				</div>
			</div>
		</diV>
	</div>
</section>

<section class="values">
	<div class="container">
			<div class="row mb-5">
					<div class="col-lg-12 text-center">
							<h3 class="heading-h3">Value Proposition for Hospitals</h3>
					</div>
			</div>
			<div class="row align-items-center">
					<div class="col-lg-7 mb-4 mb-lg-0">
							<div class=" side_by_img_size">
									<%= image_tag "img/banner-1.jpg", class: "obj_fit_cover radius-30" %>
							</div>
					</div>
					<div class="col-lg-5">
							<div class="value_content">
									<div class="mb-3">
											<span class="count">digital platform</span>
											<p class="mb-0">
													A single digital platform to conveniently source quality vetted nurses, reduce
													hassles
													and
													inefficient spend with multiple agencies
											</p>
									</div>
									<div class="mb-3">
											<span class="count">Access high quality</span>
											<p class="mb-0">
													Access high quality clinically vetted nurses for both full time hiring and part time
													locum
													model to solve day to day nurse staffing in a cost effective and flexible manner
											</p>
									</div>
									<div class="mb-3">
											<span class="count">Support real-time</span>
											<p class="mb-0">
													Support real-time shift management and utilization in one platform to ease
													administrative, clinical quality and financial burden of administering the nursing
													function
													in a small to mid sized hospital.
											</p>
									</div>
							</div>
					</div>
			</div>
	</div>
</section>

<section class="values bg-f4">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-12 text-center">
				<h3 class="heading-h3">Value Proposition for Nurses</h3>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-5 mb-4 mb-lg-0">
				<div class="value_content">
					<div class="mb-3">
							<span class="count">Safe</span>
							<p class="mb-0">
									Safe, quality and digitally led platform to help nurses learn, earn
									part-time/full-time, and grow in nursing practice
							</p>
					</div>
					<div class="mb-3">
						<span class="count">clinical quality</span>
						<p class="mb-0">
							Provide a platform to highlight their clinical quality, develop one
							place for credentialing and create differentiation
						</p>
					</div>
					<div class="mb-3">
						<span class="count">flexible time</span>
						<p class="mb-0">
							Access locum/part time shifts to balance their work-life
							considerations, and earn extra income / possibly more income
							working in shifts at quality hospitals
						</p>
					</div>
					<div class="mb-3">
						<span class="count">learning platform</span>
						<p class="mb-0">
								Access continual learning platform and personalized content journey
								to learn/grow to improve knowledge levels, rotation opportunities in
								specialty wards and drive increased earnings in one convenient
								place.
						</p>
					</div>
				</div>
			</div>
				<div class="col-lg-7">
					<div class=" side_by_img_size">
						<%= image_tag "img/banner-1.jpg", class: "obj_fit_cover radius-30" %>
					</div>
				</div>
		</div>
	</div>
</section>

<section class="get-started">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3 class="heading-h3">Let,s Get Started</h3>
			</div>
			<div class="col-lg-12">
				<nav class="mt-5">
					<div class="nav nav-tabs border-0 gap-2" id="nav-tab" role="tablist">
						<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
							data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
							aria-selected="true">For Professionals</button>
						<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
							data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
							aria-selected="false">For Employers</button>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel"
						aria-labelledby="nav-home-tab" tabindex="0">
						<div class="row bg-f4 p-0 m-0 no-gutter">
							<div class="col-lg-12">
								<div class="home_tab_content mt-5">
									<h3>For Professionals</h3>
									<div class="tabs-values">
											<span class="count">Flexibility</span>
											<span class="count">Best shifts and locations</span>
											<span class="count">Great rates and no-wait payment</span>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<form action="#" class="tabform">
									<div class="mb-3">
											<input type="text" class="form-control" id="name" placeholder="Name">
									</div>
									<div class="mb-3">
											<input type="email" class="form-control" id="" placeholder="Email">
									</div>
									<div class="mb-3">
											<input type="text" class="form-control" id="" placeholder="Zip Code">
									</div>
									<div class="mb-3">
											<button type="submit" class="theme_btn w-100">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
						tabindex="0">
						<div class="row bg-f4 p-0 m-0 no-gutter">
							<div class="col-lg-12">
								<div class="home_tab_content mt-5">
									<h3>For Professionals</h3>
									<div class="values">
											<span class="count">Flexibility</span>
											<span class="count">Best shifts and locations</span>
											<span class="count">Great rates and no-wait payment</span>
									</div>
									<button class="theme_btn w-100 mt-5">Get Started Now</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<%= render "shared/footer"%>