<%= render "shared/header"%>
<section class="hero-banner p-0">
<%= image_tag "img/professional-banner.jpg", class: "obj_fit_cover banner_img" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="banner_content">
        <h1>Professionals</h1>
        <p>Get Started By Signing Up Below<span>Learn. Earn. Grow</span></p>
        <div class="get-started_btns justify-content-start">
          <a href="./sign-up.html" class="theme_btn">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="values profession_content">
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-4 mb-4 mb-lg-0">
      <div class=" side_by_img_size h-auto">
      <%= image_tag "img/professional-banner.jpg", class: "obj_fit_cover radius-30" %>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="value_content">
        <div class="mb-3">
          <span class="count ps-0">Enjoy the Freedom to Choose When and Where You Want to Work, And Get Paid As
            Quickly
            As Possible After Your Shift</span>
          <p class="mt-4">
            You worked hard to become a healthcare professional; now, enjoy the work/life balance you deserve.
            Once you are signed
            up to use our service, you will get access to our app, where you can find and book shifts with
            participating healthcare
            facilities, according to whatever schedule works for you. We also have a partnership with Stripe,
            which allows you to
            get paid for those shifts ASAP.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="signup_options">
<div class="container">
  <div class="row mb-5">
    <div class="col-lg-12 text-center">
      <h3 class="heading-h3">Easily Sign Up for these positions</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="jobs_option_wrap bg-light p-4">
        <div class="job_item">
          <div class="job_item_title">
            <%= image_tag "img/icon.svg" %>
            <p class="mb-0">Certified Nursing Assistant / State Tested Nursing Assistant</p>
          </div>
          <div class="job_item-btn">
            <a href="./sign-up.html" class="theme_btn">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<%= render "shared/footer"%>